/* 版心 */
.w {
    width: 1200px;
    margin: 0 auto;
}

.fl {
    float: left;
}
.fr {
    float: right;
}
.style_red {
    color: #c81623;
}

/* 快捷导航栏 */
.shortcut {
    height: 31px;
    background-color: #f1f1f1;
}

.shortcut ul li {
    float: left;
    line-height: 31px;
}

.shortcut .fr ul li:nth-child(2n) {
    /* 视频中这里直接将li设置成1px，但是在浏览器上显示的竖线粗细不一致，因此这里换成boder来实现竖线 */
    /* 粗细不一致的原因可能是计算得到的宽度是小数，但只是猜想，没有验证 */
    /* background-color: #666; */
    /* width: 1px; */
    border-left: #666 solid 1px;
    height: 12px;
    margin: 9px 15px 0;
}

.shortcut ul li img {
    height: 12px;
    margin-left: 5px;
}

.header {
    position: relative;
    height: 105px;
}

.logo {
    position: absolute;
    top: 25px;
    width: 171px;
    height: 61px;
}

.logo a {
    font-size: 0;
    background: url(../images/logo.png) no-repeat;
    display: block;
    width: 171px;
    height: 61px;
}

.search {
    position: absolute;
    top: 25px;
    left: 346px;
    width: 538px;
    height: 36px;
    border: 2px solid #b1191a;
}

.search input {
    float: left;
    height: 32px;
    width: 454px;
    padding-left: 10px;
}

.search button {
    float: left;
    width: 80px;
    height: 32px;
    background-color: #b1191a;
    font-size: 16px;
    color: #fff;
    line-height: 32px;
    text-align: center;
}

.hotwords {
    position: absolute;
    top: 66px;
    left: 346px;
}

.hotwords a {
    margin: 0 10px;
}

.shopcar {
    position: absolute;
    top: 25px;
    right: 60px;
    width: 140px;
    height: 35px;
    background-color: #f7f7f7;
    border: 1px solid #dfdfdf;
    line-height: 35px;
    text-align: center;
    font-size: 14px;
}

.shopcar-icon {
    vertical-align: baseline;
    width: 16px;
}

.arrow-right {
    width: 15px;
    margin-left: 6px;
}

.count {
    position: absolute;
    top: -5px;
    left: 105px;
    height: 14px;
    border-radius: 7px 7px 7px 0;
    line-height: 14px;
    color: #fff;
    padding: 0 5px;
    background-color: #e60012;
}

.nav {
    height: 47px;
    border-bottom: 2px solid #b1191a;
}

.nav .dropdown {
    float: left;
    width: 210px;
    height: 45px;
    background-color: #b1191a;
}

.nav .nav-items {
    float: left;
}

.dropdown .dt {
    width: 100%;
    height: 100%;
    color: #fff;
    line-height: 45px;
    text-align: center;
    font-size: 16px;
}

.dropdown .dd {
    /* TODO */
    /* display: none; */
    height: 465px;
    background-color: #c81623;
    margin-top: 2px;
}

.dd ul li {
    position: relative;
    height: 30px;
    line-height: 30px;
    margin-left: 2px;
    padding-left: 10px;
}

.dd ul li:hover {
    background-color: #fff;
}

.dd ul li:hover a {
    color: #c81623;
}

.dd ul li img {
    position: absolute;
    top: 6px;
    right: 4px;
    height: 60%;
}

.dd ul li a {
    font-size: 14px;
    color: #fff;
    text-align: center;
}

.nav-items ul li {
    float: left;
    line-height: 45px;
    font-size: 16px;
}

.nav-items ul li a{
    padding: 0 25px;
}

.footer {
    height: 415px;
    padding-top: 30px;
    margin-top: 30px;
    background-color: #f5f5f5;
}

.footer .mod-service {
    height: 80px;
    border-bottom: 1px solid #666;
}

.mod-service ul li {
    float: left;
    padding-left: 35px;
    height: 50px;
    width: 300px;
}

.mod-service ul li h5 {
    float: left;
    width: 50px;
    height: 50px;
    background: url(../images/icons.png) no-repeat -252px -2px;
    margin-right: 8px;
}

.service-txt h4 {
    font-size: 14px;
}

.service-txt p {
    font-size: 12px;
}

.mod-help {
    height: 185px;
    border-bottom: 1px solid #ccc;
    padding-top: 20px;
    padding-left: 50px;
}

.mod-help dl {
    float: left;
    width: 200px;
}

.mod-help dl:last-child{
    width: 90px;
    text-align: center;
}

.mod-help dt {
    font-size: 16px;
    margin-bottom: 10px;
}

.mod-help dd {
    font-size: 12px;
}

.mod-copyright {
    text-align: center;
}

.links {
    margin-top: 20px;
    margin-bottom: 15px;
}

.links a {
    padding: 0 5px;
}

.copyright {
    line-height: 20px;
}